# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.env.js

# typescript
*.tsbuildinfo

# generated native folders
# If you have "prebuild" in your scripts or use EAS Build, these should be ignored
/ios
/android
